<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<button type="button" style="margin-right: 15px;"> <%= link_to 'Back', books_path %> </button>
<button type="button" > <%= link_to 'Show', @book %> </button>